  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }

  .input-filds,
  .text-desc {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .text-desc {
    resize: vertical;
    /* Allows vertical resizing only */
    height: 13rem !important;
  }

  .submit-btn {
    background-color: #383636;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }

  .submit-btn:hover {
    background-color: #1b1b1c;
  }

  .submit-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .error {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
  }

  .title-detail {
    width: 90%;
    height: 3rem;
  }

  .color-picker {
    top: 2rem;
    position: absolute !important;
  }

  .active-icon {
    background-color: #bcbcbc;
    border-radius: 5px;
  }